@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    color-scheme: light dark;
}

html body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    word-wrap: break-word;
}

h2 {
        border-bottom: 1px solid;
    }

    code {
        font-family: Menlo, monospace
    }

    blockquote {
        border-left-style: solid;
        margin-left: 20px;
        padding-left: 20px;
    }

    .toc {
        display: block;
        padding-bottom: 4px;
        border-bottom: 1px solid;
    }

    .toc_entry {
        
    }

    img {
        max-width: 100%;
        height: auto;
    }

    table {
        border-collapse: collapse;
}

td {
    border: 1px solid;
    padding: 5px;
}

@media (prefers-color-scheme: dark) {
    a {
        color: cyan;
    }

    a:visited {
        color: pink;
    }

    .invert {
        -webkit-filter: invert(1) hue-rotate(180deg);
        filter: invert(1) hue-rotate(180deg);
    }
}
